@import url('https://fonts.cdnfonts.com/css/redaction');

:root {
  --font-primary: 'Redaction 70', sans-serif;
  --font-secondary: 'Redaction 50', sans-serif;
  --color-primary: #edd0a9;
  --color-secondary: rgb(8, 7, 16);
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-primary);
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

#indice {
  display: none;
  font-size: 32px;
  margin-top: 20px;
  font-weight: 700;
}

#gif {
  display: none;
  max-height: 300px;
  margin-top: 30px;
  mix-blend-mode: multiply;
}

#error {
  display: none;
  font-size: 32px;
  margin-top: 20px;
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
}

.bandeau {
  height: 50px;
  width: 100%;
  border-bottom: 3px solid var(--color-secondary);
  background-color: #ffda1a;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 70vw;
    background-color: var(--color-primary);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 4px solid var(--color-secondary);
    box-shadow: 8px 8px 0px 2px var(--color-secondary);
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h1{
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 48px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 35px;
}

input{
  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: 200;
  color: var(--color-secondary);
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  text-align: center;
}
::placeholder{
  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: 200;
  color: var(--color-secondary);
  text-align: center;
}

.input {
  width:70%;
  height: 80px;
  display: flex;
  align-items: center;
  border: 3px solid var(--color-secondary);
}

.icon-span {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2vw;
  background-color: #ffda1a;
  border-right: 3px solid var(--color-secondary);
}

#icon-lock {
  width: 24px;
}

#icon-unlock {
  display: none;
  width: 24px;
}

button{
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 32px;
  margin-top: 40px;
  width: 30%;
  background-color: var(--color-primary);
  border: 3px solid var(--color-secondary);
  box-shadow: 3px 3px 0px 2px var(--color-secondary);
  color: var(--color-secondary);
  padding: 15px 0;
  cursor: pointer;
}

.message {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.gif {
  mix-blend-mode: multiply;
  max-height: 300px;
}

.inner-loading-bar {
  width: 100%;
  height: 40px;
  border: 4px solid var(--color-secondary);
  padding: 4px 10px;
  margin-top: 100px;
}

.loading-bar {
  display: flex;
  gap: 8px;
  height: 100%;
}

.square {
  width: 100%;
  height: 100%;
  background-color: green;
}

.square:nth-last-child(-n + 12) {
  background-color: var(--color-primary);
}